{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">{{ object.name }}</p>
                        <p class="card-text">{{ object.description }}</p>
                        <p class="card-text">Категория: {{ object.category }}</p>
                        <a class="btn btn-info" href="{% url 'catalog:category_products' object.category_id %}"
                                   role="button">Посмотреть все товары категории {{ object.category }}</a>
                        <p class="card-text">Цена: {{ object.price }} руб.</p>
                        <p class="card-text">Товар опубликован: {% if object.publish_product %} Да
                        {% else %} Нет
                        {% endif %}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:product_list' %}"
                                   role="button">Назад</a>
                                {% if perms.catalog.can_unpublish_product or object.owner == user %}
                                <a class="btn btn-warning" href="{% url 'catalog:product_update' product.pk %}"
                                   role="button">Редактировать</a>
                                <a class="btn btn-danger" href="{% url 'catalog:product_confirm_delete' product.pk %}"
                                   role="button">Удалить</a>
                                {% endif%}

                            </div>
                        </div>
                        <small class="text-body-secondary">Последнее изменение: {{ object.updated_at }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}